pyrogram>=2.0.30
tgcrypto
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
umongo==3.0.1
requests==2.32.3
beautifulsoup4==4.12.3
git+https://github.com/ritheshrkrm/cinemagoer
datetime
pytz==2024.2
aiohttp==3.8.5
psutil==5.9.4
python-dotenv==0.19.0
dnspython==2.7.0
soupsieve==2.6
imdbpy==2024.5.4
